.svg{
    display: block;
}
.titulo{
    font-weight: 800;
    font-size: 375%;
    color: rgb(0, 88, 0);
    align-content: center;
}
.fundo{
    background-size: cover;
}
.footer{
    background-color: #121212; 
    color: white; 
    padding: 50px;
    text-align: center;
    height: 50vh;  
}
.header{
    background-color: rgb(255, 255, 255); 
    text-align: center;
    height: 50vh;  
}
.titulo-search{
    padding: 20px;
}
.green{
    color: #4CAF50;
    font-weight: 600;
}
.white{
    color: #ffff;
    font-weight: bold;
}
.margem{
    margin-top: 10%;
}
.fundo-back{
    height: 200vh;
    background-image: url(../assets/FUNDO_2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.default-card{
    width: 18rem;
}
.grey{
    color: grey;
}
.fundo-card{
    background-color: #121212;
}
.margem-p{
    margin-bottom: 1px;
}
.centro{
    align-self: center;
}
.borda{
    border-color: #4CAF50;
    border-radius: 10px;
}
.link{
    color: #4CAF50;
}
.input-suave {
   border-radius: 10px;
   height: 40px;
   border-width: 2px;
   
  }
.esse::placeholder{
    color: #c7c7c7;
    font-weight: 600;
}