.svg{
    display: block;
}
.titulo{
    font-weight: 800;
    font-size: 375%;
    color: rgb(0, 88, 0);
    align-content: center;
}
.titulo2{
    font-weight: 800;
    font-size: 300%;
    color: rgb(0, 88, 0);
    align-content: center;
}
.fundo{
    background-size: cover;
}
.footer{
    background-color: #121212; 
    color: white; 
    padding: 50px;
    text-align: center;
    height: 300px;  
}
.header{
    background-color: rgb(255, 255, 255); 
    text-align: center;
    height: 300px;  
}
.header2{
    background-color: rgb(255, 255, 255); 
    text-align: center;
    height: 250px;  
}
.titulo-search{
    padding: 20px;
}
.green{
    color: #4CAF50;
    font-weight: 600;
}
.white{
    color: #ffff;
    font-weight: bold;
}
.margem{
    margin-top: 10%;
}
.fundo-back{
    height: 1500px;
    background-image: url(../assets/FUNDO_2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
.card-sm {
    width: 300px; 
    height: 400px;
}
.card-img-top {
    height: 200px; 
    object-fit: contain;
    transition: transform 0.5s ease;
}
.card-body {
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
    padding: 15px; 
    height: 100%; 
}
.card-text {
    margin-bottom: 10px; 
    font-size: 0.9rem;  
    word-wrap: break-word; 
}
.card-title{
    font-size: 1.2rem;
}
.grey{
    color: grey;
    font-weight: 600;
}
.fundo-card{
    background-color: #121212;
    border-color: #4CAF50;
    border-radius: 10px;
}
.fundo-card2{
    background-color: #121212;
    border-color: #4CAF50;
    box-shadow: 10px 10px 30px #4CAF50 !important;
}
.margem-p{
    margin-bottom: 1px;
}
.centro{
    align-self: center;
}
.link{
    color: #4CAF50;
}
.input-suave {
   border-radius: 10px;
   height: 40px;
   border-width: 2px;
   
  }
.esse::placeholder{
    color: #c7c7c7;
    font-weight: 600;
}
* {
    max-width: 100%;
}
.fundo-cor{
    background-color: #121212; 
    color: white; 
    text-align: center;
}
@keyframes float {
    0% {
        transform: translateY(0px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }
    50% {
        transform: translateY(-10px);
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    }
    100% {
        transform: translateY(0px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }
}

.floating-card {
    animation: float 3s ease-in-out infinite;
    transition: all 0.3s ease;
    transform-style: preserve-3d;
    perspective: 1000px;
}
.floating-card:hover .card-img-top {
    transform: translateZ(30px);
}
.detail{
    font-weight: 600;
}
.detail:hover{
    color: #121212;
    font-weight: 600;
    background-color: #4CAF50; 
    transform: translateZ(-2px); 
    border-color: #4CAF50;
}
.clickable-card:hover{
    transform : scale(1.02);
    transition : transform 0.2s ease;
}